*{
    margin: 0;
    padding: 0;
}

body {
    max-width: 1900px;
    min-height: 100vh;
    position: relative;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
/* --------- HEADER INICIO ---------- */
header {
    background-color: #11143A;
    height: 70px;
    /* max-height: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.logo {
    text-decoration: none;
    color: #45e5e4;
    padding-right: 150px;
}
header nav {
    height: 100%;
}
header nav ul{
    height: 100%;
    font-size: 12px;
    list-style: none;
    display: flex;
    align-items: center;
}
.link-menu {
    color: white;
    text-decoration: none;
    padding: 26.2px 20px;
}
.link-menu:hover {
    background-color: #1e3574;
}
.botao-login {
    border: none;
    background: none;
    color: #45e5e4;
    padding-right: 20px;
    font-size: 13px;
}
.botao-login:hover {
    color: #718edb;
}
.botao {
    border: none;
    border-radius: 8px;
    background-color: #45e5e4;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 12px;
}

.botao:hover {
    background-color: #6fa7cc;
}
/* ----- HEADER FIM --------*/

/* ----- CURSOS INICIO -----*/

main > h2 {
    color: #11143A;
    text-align: center;
    padding: 5px 0;
}
.pag-cursos{
    padding-top: 30px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    column-count: 3;
}
.categorias {
    display: flex;
    gap: 60px;
}
.cursos{
    height: 347px;
    width: 245px;
    border: 2px solid #45e5e4;
    padding: 15px;
}
.cursos h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cursos p{
    height: 110px;
    text-align: left;
    font-size: 14px;
}
.btn-ver-cursos {
    border: none;
    border-radius: 8px;
    background-color: #45e5e4;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 135px;
}
.btn-ver-cursos:hover{
    background-color: #6fa7cc;
    cursor: pointer;
}
.cursos img{
    height: 150px;
    width: 245px;    
    object-fit: cover;
}
/* ----- CURSOS FIM ----- */

/* ----- FOOTER INICIO ----- */
footer {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    background-color: #11143A;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
    font-size: 10px;
}
/* ----- FOOTER FIM ----- */

/* ----- MEDIA QUERY INICIO ----- */
@media (min-width: 481px) and (max-width: 768px) {
    .link-menu {
        padding: 26.2px 7px;
        font-size: 11px;
    }
    .botao-login {
        padding-right: 6px;
        font-size: 12px;
    }
    .logo {
        color: #45e5e4;
        padding-right: 80px;
        font-size: 25px;
    }
    header .botao {
        padding: 10px 6px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .logo {
        display: none;
    }
    .link-menu {
        font-size: 12px;
        padding: 26.2px 6px;
    }
    footer {
        justify-content: center;
    }
    .link-cadastro {
        text-align: center;
        padding: 10px 10px;
    }
    .botao-login {
        font-size: 12px;
        padding-right: 5px;
    }
}
@media screen and (max-width: 768px) {
    .pag-cursos {
      flex-direction: column;
      align-items: center;
      padding-bottom: 100px;
    }
    .categorias {
      flex-direction: column;
      align-items: center;
    }
  }
@media screen and (max-width: 320px) {
    .pag-cursos {
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
      }
    .cursos {
      max-width: 100%;
    }
  }
/* ----- MEDIA QUERY FIM ----- */